<section id="main" class="wrapper">
  <center>
    <div class="container">
      <h2>{{album.title}}</h2>
      <div class="6u 12u$(xsmall)">
        <div class="image fit captioned">
          <img src="{{album.PicURL}}" alt="Album"/>
          <h3>Artist: {{album.artist}}
            <br>
            Released: {{album.year}}
            <br>
            Genre: {{album.genre}}
            <br>
            Average Rating: {{average}}
            </h3>
        </div>
      </div>
    </div>
          <hr>
              {{#each album.reviews}}
                <p>
                  {{this.title}} <br>
                  Rating: {{this.rating}} <br>
                  {{this.comment}} <br>
                  -- {{this.author}} 
                </p>
                <hr>
            {{/each}}

  </center>
</section>