<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
				<h2>Musicality</h2>
				<p>Welcome to our <br /> site of musical greatness.</p>
				<p id = "react"></p>
				<ul class="actions">
					{{!-- <li><a href="#" class="button special big">Get Started</a></li> --}}
				</ul>
			</section>

			<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>A site to talk about music!</h2>
									<p>Review albums and find new music.</p>
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>This site allows users to write reviews for their favorite albums.</p>
								<p>Get notifications about the latest albums releasing and also view the music charts.</p>
							</div>
						</div>
					</div>
				</section>

			<!-- Two -->
				<section id="two" class="wrapper style2 special">
					<div class="container">
						<header class="major">
							<h2>These are album covers</h2>
							<p>You can see reviews for them.</p>
						</header>
						<div class="row 150%">
							<div class="6u 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="/images/ledzep.jpg" alt="" />
									<h3>Good Times Bad Times</h3>
								</div>
							</div>
							<div class="6u$ 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="images/queen.jpg" alt="" />
									<h3>Bicycle Race</h3>
								</div>
							</div>
						</div>
						{{!-- <ul class="actions">
							<li><a href="#" class="button special big">Nulla luctus</a></li>
							<li><a href="#" class="button big">Sed vulputate</a></li>
						</ul> --}}
					</div>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							<h2>Join us now!</h2>
							<p>Start browsing and writing reviews!</p>
						</header>
						<ul class="actions">
							<li><a href="/submit" class="button special big">Start Reviewing</a></li>
						</ul>
					</div>
				</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="copyright">
					<li>&copy; Albert, Tsipora, Perri</li>
				</ul>
			</footer>

{{!-- {{#if tag}}
<h2>Recent Reviews : {{tag}}</h2> 
{{else}}
<h2>Recent Reviews:</h2> 
{{/if}}

{{#each data}}
<article>
	<h2 class="title">{{this.title}}</h2> <i>{{this.artist}}</i>
	<hr>
	<div class="content">
	    Album art and review will be here...
	</div>
	<a href="/album/{{this.id}}/reviews">Read more reviews</a>
</article>
{{else}}

<article>
    <h1>There are no blog posts yet. :(</h1>
    <a href="/create">Write your first post!</a>
</article>
{{/each}} --}}
