{{#if tag}}
<h2>Recent Reviews : {{tag}}</h2> 
{{else}}
<h2>Recent Reviews:</h2> 
{{/if}}

{{#each data}}
<article>
	<h2 class="title">{{this.title}}</h2> <i>{{this.artist}}</i>
	<hr>
	<div class="content">
	    Album art and review will be here...
	</div>
	<a href="/album/{{this.id}}/reviews">Read more reviews</a>
</article>
{{else}}

<article>
    <h1>There are no blog posts yet. :(</h1>
    <a href="/create">Write your first post!</a>
</article>
{{/each}}
